
.container{
    width: 100%;
    height: 100px;
    /* border: 1px solid red; */

}



.header{
     width: 15%;
  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 15%;
  padding-right: 52%;
  /* margin-bottom: 3px; */
  /* border: 1px solid green; */
  float: left;
  overflow: hidden;
}
.h_img{
    display: inline-block;
    width: 11.5%;
    /* border: 1px solid black; */
}
.h_img img{
    width: 100%;
}
.header p{
    display: inline-block;
    width: 55%;
padding-left: 5px;
 font-size: 31px;
   
    /* border: 1px solid brown; */
    
}
.banner{
    background-image: url(../images/bannert.jpg);
background-repeat: no-repeat ;
background-position: top center;
background-size: cover;
min-width: 1600px;
    min-height: 300px;
    
}

.b_text{
    text-align: center;
    padding: 300px 30%;
    color: white;
}
.b_text h1{
    font-size: 80px;
    font-family: ;
    font-weight: 550;
  border-bottom: 3px solid #15a4fa;

}
.b_text p{
    font-size: 17px;
    font-family: ;
    font-weight: 400;
    width: 90%;
    padding-right: 90%;
    padding-left: 7%;
}
.b_text button{
    width: 150px;
    height: 40px;
    padding: 10px 15px;
    background: transparent;
    border: 1px solid #15a4fa;
    color: white;
}
.simple{
width: 60%;
text-align: center;
padding: 60px 300px;
}
.simple h1{
    color: #2d3950;
    font-size: 35px;
    font-family: ;
    font-weight: 500;
}
.simple p{
    color: #999999;
    font-size: 17px;
    font-family: ;
    font-weight: normal;
    line-height: 26px;
}
.feature{
    margin: 2px 4px;
    padding: 45px 20px;
overflow: hidden;
}
.phone{
    padding: 20px 40px;
    width: 27%;
    text-align: center;
    float: left;
}
.f_img{
    padding: 10px 150px;
width:20%;

}
.f_img img{
width: 100%;
}
.f_h2{
    color: #2d3950;
    font-size: 25px;
    font-family: ;
    font-weight: 500;
}
.photo{
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 17%;
    padding-right: 17%;
    text-align: center;
}
.single{
    width: 30%;
    padding: 10px 13px;
    float: left;
}
.single img{
    width:100%;
}
.stay{
    padding-top: 3px;
    padding-bottom: 100px;
    margin-top: 60px;
  background-image: url(../images/stay.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  min-width: 1600px;
    min-height: 300px;
    text-align: center;
}
.text{
    padding: 10px 5%;
}
.text h1{
    width: 15%;
    font-size: 35px;
    font-family: ;
    font-weight: 500;
    color: white;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 42%;
    padding-right: 42%;
}
.text p{
 padding-left: 42%;
 padding-right: 42%;
 padding-top: 0px;
 padding-bottom: 20px;
 width: 15%;
    color: #999999;
    font-size: 17px;
    font-family: ;
    font-weight: normal;
}
.FirstName{
    width: 26%;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 1px 10px;
    font-size: 12px;
    color: #999999;
    background: transparent;
    border: 1px solid #999999;
}
.message{
    height: 110px;
}
.check{
    overflow: hidden;
float: left;
text-align: center;
margin: 10px 31%;
 
}
.box{
    float: left;
    width: 80%;
    color: white;
}
.send{
    float: right;
    width: 20%;
    height: 29px;
    text-align: center;
    color: white;
    background: transparent;
    border: 1px solid #15a4fa;
    margin-right: 0px;
    margin-left: 250px;
  
   
}
.footer{
    overflow: hidden;
    float: left;
   
    padding-left: 225px;
    padding-right: 225px;
    padding-top: 10px;
    padding-bottom: 2px;
    width: 70%;
}
.copy{
float: left;
width: 45%;
display: inline; 
/* border: 1px solid purple; */
color: #878787;
padding: 30px 2px;

font-size: 16px;

}
.last{
    float: right;
 width: 40%;
 padding: 0px 2px;
 /* border: 1px solid green; */

}
.last ul{float: right;}
.last ul li{
    list-style: none;
    float: left;
}
.last ul li a{
    display: inline;
padding: 0px 2px;
    text-decoration: none;

}